<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapas de Project Zomboid</title>
    <link rel="stylesheet" href="../Assets/css/Style.css">
</head>
<body>
    <ul>
      <li><div class="centrar-mapa"><h1>Louisville</h1></div><img src="../Assets/img/Louusville.png" width="500" height="500"></li>
      <li><div class="centrar-mapa"><h1>Muldraugh</h1></div><img src="../Assets/img/Mulgdrau.png" width="500" height="500"></li>
    </ul>
</body>
</html>