<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapas de Project Zomboid</title>
    <link rel="stylesheet" href="../Assets/css/Style.css" />
  </head>
  <body>
    <div class="centrar"><h1>Musica</h1></div>
    <ul>
      <li>
        <div class="centrar"><h1>Finally Calm</h1></div>
        <audio controls src="../Assets/sound/Finally Calm.mp3"></audio>
      </li>
      <li>
        <div class="centrar"><h1>Death</h1></div>
        <audio controls src="../Assets/sound/Death.mp3"></audio>
      </li>
      <li>
        <div class="centrar"><h1>Patch Up</h1></div>
        <audio controls src="../Assets/sound/Patch Up.mp3"></audio>
      </li>
      <li>
        <div class="centrar"><h1>Rest</h1></div>
        <audio controls src="../Assets/sound/Rest.mp3"></audio>
      </li>
    </ul>
  </body>
</html>